.type-section{
  margin: 15px;
  border: 1px solid rgba(0,0,0,.06);
  .example{
  border-bottom: 1px solid rgba(0,0,0,.06);
  }
  .explain{
    padding: 15px;
    line-height: 2;
    border-top: 1px solid rgba(0,0,0,.06);
    span{
      margin: 0 5px;
      padding: 0.1em 0.3em;
      background: #f2f4f5;
      border-radius: 4px;
      border: 1px solid rgba(0,0,0,.06);
    }
  }
  .code{
    margin: 15px;
  }
}
