* {margin: 0;padding: 0; box-sizing: border-box;}
*::before {box-sizing: border-box;}
*::after {box-sizing: border-box;}
ul, ol {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
a { text-decoration: none; color: inherit; }
pre {
  font-family: "Fira Code Medium", Consolas, monospace;
}
.docLayout{
  width: 100%;
}
.docHeader{
  padding: 16px;
  margin-bottom: 20px;
  box-shadow: 0 10px 30px 0 rgba(36, 179, 95, 0.1);
  .logo{
    display: flex;
    align-items: center;
    span{
      font-size: 22px;
      color: #0ABC54;
    }
    .qingteng{
      width: 30px;
      height: 30px;
    }
  }
}

.docAside{
  display: flex;
  flex-direction: column;
  width: 150px;
  background: #B2F3CD;
  box-shadow: 0 10px 30px 0 rgba(36, 179, 95, 0.1);
  h2{
    padding:10px 16px;
    font-size: 22px;
  }
  ul{
    li{
      width: 100%;
      a{
        padding:10px 16px ;
        display: block;
        color: #222222;
      }
      :hover{
        background: #ffffff;
        color: #0ABC54;
      }
      a.active{
        background: #ffffff;
        color: #0ABC54;
      }
    }
  }
}

.docContent{
  padding: 16px;
}
.docFooter {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 16px 0;
  border-top: 1px solid #eee;
}